<h1><span data-i18n="skills.my_skills">sobre mim</span></h1>

<div>
    <p class="message">
        seguindo o sentido da vida: em frente
       </p>
       
       <h3> joana souza (ou apenas xuana), 22 anos </h3>
       <ul>
           <li> originalmente de salvador, bahia</li>
           <li> morando em recife, pernambuco</li>
           <li> co-organizadora do pyladies salvador</li>
           <li> tímida e extrovertida ao mesmo tempo</li>
       </ul>
       
      <h3> coisas que tenho interesse </h3>
       <ul>
            <li> processamento de linguagem natural (nlp)</li>
            <li> vestíveis <i>(especialmente bordado com led, crochê e arduino)</i></li>
            <li> zines</li>
            <li> estudos em cultura digital, tecnopolítica, feminismo, educação e sociedade</li>
        </ul> 
        <p>você pode me encontrar no <a href="https://twitter.com/xuanaonline">twitter!</a></p>
</div>